@import "partials/base";
@import "partials/core";

#section-content {
	background: $red;
	padding: 250px 0;
	text-align: center;
	
	.header .intro {
		font-size: 36px;
	}
	
	@include media-query-mobile {
		padding: 150px 0 80px;

		.header .intro {
			font-size: 18px;
		}
	}
}