@import "partials/base";
@import "partials/core";
@import "partials/section-our-team";
@import "partials/section-email-share";
@import "partials/contact-us-photos";

#section-header {
	text-align: center;

	.bg-image {
		background-image: image-url('faq/faq-bg.jpg');
	}
}

#section-faqs {
	@include Futura-Medium;
	background: $white;
	padding: 60px 0 60px;
	font-size: 26px;

	#donation-questions {
		border-color: $green;
		color: $green;

		.btn-continue-arrow {
			color: $green;
		}

		a {
			color: $green;

			&:hover {
				color: $green-dark;
			}
		}
	}

	#organization-questions {
		border-color: $red;
		color: $red;

		.btn-continue-arrow {
			color: $red;
		}

		a {
			color: $red;

			&:hover {
				color: $red-dark;
			}
		}
	}

	#general-questions {
		border-color: $blue;
		color: $blue;

		.btn-continue-arrow {
			color: $blue;
		}

		a {
			color: $blue;

			&:hover {
				color: $blue-dark;
			}
		}
	}

	.header-wrap {
		padding-left: 85px;
		font-size: 0;
		display: table;
		position: relative;
		height: 75px;
		max-width: 91%;
		position: relative;

		.faq-icon {
			left: 0;
			position: absolute;
			top: 50%;
		}

		.text {
			width: 100%;
			padding-left: 20px;
			text-align: left;
			display: table-cell;
			vertical-align: middle;

			.question-type {
			 	font-size: 26px;
			 	margin: 1.2em 0;
			}
		}
	}

	.question-categories {
		@include border-radius(5px);
		border-style: solid;
		border-width: 2px;
		padding: 0px 7%;
		margin-bottom: 30px;
		position: relative;

		.clickable-region {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100px;
			z-index: 100;
		}

		.ic-icon-dollabill {
			margin-top: -28px;

			&:before {
				font-size: 55px;
			}
		}

		.ic-icon-invisiblelogo {
			margin-top: -20px;

			&:before {
				font-size: 40px;
			}
		}

		.ic-icon-question {
			margin-top: -28px;

			&:before {
				font-size: 55px;
			}
		}

		.btn-continue-arrow {
			@include transition(transform $default-transition-duration $default-transition-function);
			@include transform-origin(center, 65%);
			@include opacity(1);
			top: 15px;
			position: absolute;
			right: 30px;
		}

		.toggle-content {
			padding: 15px 0;

			&.open + .btn-continue-arrow {
				@include rotate(180deg);
			}

			.question-answered {
				margin-bottom: 30px;

				p {
					margin: .7em 0;
				}
				
				.answer {
					@include Futura-Light;
					color: $default-text-color;
					font-size: 18px;

					.bold-answer {
						font-weight: 600;
					}
				}
			}
		}
	}

	@include media-query-mobile {
		.header-wrap {
			padding: 0 20px 0 0;

			.text {
				padding: 0;

				p {
					font-size: 22px;
				}
			}

			.faq-icon {
				display: none;
			}
		}
	}
}

#section-engagement {
	text-align: center;
	background: $grey-lightest;
	padding: 90px 0 90px;

	&:before {
		@include arrow($white);
	}

	.header {
		color: $default-text-color;
		margin-bottom: 50px;

		.intro {
			color: $green;
		}
	}

	.btn {
		margin-top: 30px;
	}
}