.email-form {
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	position: relative;

	i {
		z-index: 50;
		right: 36% !important;
		top: 12px !important;
	}

	#message {
		margin: 0;
		height: 65px;
		color: $green;
	}

	.email-group,
	.message-container {
		@include transition(opacity 0.3s ease);
	}

	.email-group {
		padding: 0 5%;
		position: relative;
		z-index: 1;
		
		&.has-error {
			input[type=email] {
				@include box-shadow(rgba($red-dark, 0.2) 0 0 10px inset);
				border-color: $red;
			}

			i {
				color: $red-dark;
			}
		}

		small {
			@include Futura-Heavy;
			position: absolute;
			color: $red-dark;
			margin-left: 10px;
			text-align: left;
		}

		.input-group {
			width: 100%;

			input[type=email] {
				@include inline-block;
				width: 65%;
			}

			.submit-btn-wrap {
				@include inline-block;
				width: 35%;

				input[type=submit] {
					min-width: 90px;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
	
	.message-container {
		@include Futura-Heavy;
		@include opacity(0);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
		
		.glyphicon {
			margin-right: 10px;
		}
		
		p { margin: 0; }
		
		.success {
			color: $green;
		}
		
		.error {
			color: $red-dark;
			.glyphicon {
				position: relative;
				top: 3px;
			}
		}
	}

	&.success,
	&.error {
		.email-group {
			@include opacity(0);
			z-index: 0;
		}

		.message-container {
			@include opacity(1);
			z-index: 1;
		}
	}

	&.success {
		.message-container {
			.success { display: block; }
			.error { display: none; }
		}
	}

	&.error {
		.message-container {
			.success { display: none; }
			.error { display: block; }
		}
	}
}